<div *ngIf="currencies && currencies.length > 0">
  <form class="currencies-form">
    <mat-form-field class="currencies-full-width">
      <input type="text" placeholder="Choose currency" matInput
             [formControl]="currencyControl" [matAutocomplete]="auto" (change)="onChange()">
      <mat-autocomplete (optionSelected)="onChange()" #auto="matAutocomplete">
        <mat-option *ngFor="let currency of currencies"
                    [value]="currency.name">
          <img *ngIf="currency.source != null" class="example-option-img" aria-hidden [src]=currency.source height="25">
          {{currency.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
